/* LandingPage.css */
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpeg'); /* Zastąp path-to-your-image.jpg odpowiednią ścieżką do obrazu */
    background-size: cover;
    background-position: center;
    color: #000;
  }
  
  .header {
    margin-top: 20px;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .login-button {
    padding: 15px 30px; /* Większy odstęp wewnętrzny */
    font-size: 18px; /* Większa czcionka */
    color: #000;
    background-color: #008080;
    border: none;
    border-radius: 30px; /* Większe zaokrąglenie */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #006666; /* Zmiana koloru tła przy najechaniu */
}
  
  .footer {
    margin-bottom: 20px;
  }
  